
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
	position: relative;
	height: 100%;
	width: 100%;
}

.wrapper {
	background: -webkit-gradient(linear,left top,left bottom,from(#3749e9),to(#5800ea));
	display: flex;
	flex-direction: column;


}

.container {
	max-width: 1170px;
}

.content {
	margin-bottom: 100px;
}

/*navbar*/

.navbar {
	width: 100%;
	position: fixed;
	z-index: 999;
	background: transparent;
	transition: background 500ms linear;
}


.navbar-collapse {
	justify-content: center;
}

.navbar-brand {
	width: 64px;
	height: 64px;
}

.nav-item {
	padding: 0px 10px;
	font-size: 16px;
	font-weight: bold;

}

.nav-item a:hover {
	color: #FFE400 !important;
	transition: all 300ms ease;

}

.nav-item a { 
	color: white !important;
}


.navbar.scrolled {
  background-color: #3748e9 !important;
  transition: background-color 500ms linear;
  box-shadow: 0 4px 25px rgb(0 0 0 / 8%);

}




/*footer*/

.p-3 {
	background-color: #3748e9;
}

footer {
	color: #ffffff;
}

footer a {
	color: #ffffff;
}

/*first_block*/


.first_block__under_title {
	margin-top: 30px;
	text-align: center;
	font-size: 32px;

}

.first_block {
	height: 860px;
	padding-top: 260px;
}


.first_block__content {
	color: white;
	margin-top: 60px;
}

.first_block__title h1 {
	font-size: 72px;
	text-align: center;
	font-weight: bold;
}

.first_block__btn {
	text-align: center;
	margin-top: 100px;
}

.first_block__btn a {
	color: black;
	padding: 15px 0px 15px 0px;
}




.yellow__btn {
	font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    background: #FFE400;
    box-shadow: 0px 8px 0px #e8b229;
    text-decoration: none;
    transition: all 0.5s ease;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    width: 150px;
	height: 50px;
	font-weight: bold;
}

.yellow__btn a {
	display: block;
	padding: 15px 0px 15px 0px;
}

.yellow__btn:hover {
	transform: translateY(8px);
	box-shadow: 0px 2px 0px #e8b229;
}

.yellow__btn:active {
	border: 0px solid black;
}


.yellow__btn2 {
	font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    background: #FFE400;
    text-decoration: none;
    transition: all 0.5s ease;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    width: 150px;
	height: 50px;
	font-weight: bold;
}

.yellow__btn2 a {
	display: block;
	padding: 15px 0px 15px 0px;
}

.yellow__btn2:hover {
	background: #d4c00b;
}


/*second_block*/

.second_block__content {
	text-align: center;
	margin-top: 100px; 
}

.second_block__text p {
	color: #ffffff;
	font-size: 26.5px;
	font-weight: bold;
	line-height: 1.4em;
}

.second_block__title {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-top: 70px;
}

.second_block__quiz__info__item {
	padding: 10px 0px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	line-height: 12px;
}

.second_block__quiz__info li {
	line-height: 1.4em;
}

.second_block__quiz__btn a {
	width: 340px;
	height: 50px;
	padding: 15px 0px 15px 0px;
}


.second_block__quiz__wrap {
	width: 370px;
}

.second_block__quiz__content {
	background-color: #3749e9;
	height: 330px;
}

.second_block__push__message {
	color: #ffffff;
	font-size: 28px;
	font-weight: bold;
	margin-top: 120px;
}

/*register_form*/

.register_form {
	padding-top: 175px;
	margin-bottom: 300px;
}

.register_form__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.register_form__form input {
	width: 100%;
}

.register_form__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/*login_form*/

.login_form {
	padding-top: 175px;
	margin-bottom: 300px;
}

.login_form__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.login_form__form input {
	width: 100%;
}

.login_form__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.login_form__remember_me input {
	display: inline;
}

/*btns in form*/

.form__btn {
	background: #FFE400;
	color: black;
	font-weight: 600;
	margin-right: 5px;
	transition: all 500ms ease; 
}

.form__btn:hover {
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 3px #FFE400;
}

.navbar__margin {
	margin-left: 166px;
}



/*user_name*/

.user_name {
	color: #FFE400;
	font-weight: 700;
	font-size: 16px;
}

.user_name:hover {
	border-bottom: 1px solid #FFE400;
	color:  #FFE400;
}

/*quiz__main_block*/


.main_block {
	padding-top: 225px;
	margin-bottom: 350px;
}

.main_block__content {
	text-align: center;
}

.main_block__count__questions {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 10px;
}

.main_block__title {
	color: #ffffff;
	font-size: 36px;
	margin-bottom: 30px;
}

.main_block__answers__list {
	text-align: left;
	margin-top: 50px;
	background-color: #3749e9;
	min-width: 480px;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	display: inline-block;
}
.main_block__answer {
	color: #ffffff;
	font-size: 16px;
	padding: 5px 0px 5px 0px;
}

.main_block__btn button {
	display: block;
	text-align: center;
	margin: 0px auto;
	width: 480px;
}

/* input */

.input__green {
	background-color: #32CD32;
	font-weight: 600;
}

.input__green input, label {
	padding: 5px;
	margin: 0 auto;
}


.input__red {
	background-color: #B22222;
}

.input__red input, label {
	padding: 5px;
	margin: 0 auto;
}

/*complete_quiz*/

.complete_quiz {
	padding-top: 225px;
	margin-bottom: 50%;
	text-align: center;
}

.complete_quiz__content {
	padding: 50px;
	text-align: center;
	background-color: #3749e9;
	display: inline-block;
	border: 2px solid #FFE400;
	border-radius: 5px;
	color: #FFE400;

}

.complete_quiz__title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 50px;
}

.complete_quiz__correct__answers {
	font-size: 24px;
	margin-bottom: 50px;
}

.complete_quiz__result {
	font-size: 24px;
	margin-bottom: 50px;
}

.complete_quiz__thx {
	font-size: 36px;
	margin-bottom: 30px;
}

/* profile */

.profile_block {
	padding-top: 225px;
	text-align: center;
}

.profile_block__content {
	margin-bottom: 50%;
	text-align: center;
	padding: 50px;
	background-color: #3749e9;
	display: inline-block;
	border: 2px solid #FFE400;
	border-radius: 5px;
	color: #FFE400;
	min-width: 400px;
}

.profile_block__user__name {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700;
}

.profile_block__email {
	font-size: 24px;
	margin-bottom: 70px;
	font-weight: 700;

}

.profile_block__btns a {
	color: black;
}

.profile_block__btn__pass, .profile_block__btn__email, .profile_block__btn__quiz, .profile_block__btn__my_quests, .profile_block__btn__logout {
	display: block;
	margin-bottom: 25px;
	box-shadow: 0px;
	text-align: center;
	width: 100%;
}


/*create_question_info*/

.create_question {
	padding-top: 225px;
}

.create_question__content {
	margin-bottom: 50%;
	text-align: center;
	font-size: 56px;
	color: white;
}

.create_question__text {
	text-align: center;
	margin-bottom: 120px;
	margin-top: 80px;
	width: 50%;
	display: inline-block;
}

.create_question__btn {
	text-align: center;
}

.create_question__btn a {
	padding: 15px 0px 15px 0px;
}

/*create_question_form*/

.create_question_form {
	padding-top: 175px;
	margin-bottom: 300px;
}

.create_question_form__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.create_question_form__form input {
	width: 100%;

}




.create_question_form__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}


/*change_passowrd*/

.change_pass_form {
	padding-top: 175px;
	margin-bottom: 300px;
}

.change_pass_form__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.change_pass_form__form input {
	width: 100%;
}

.change_pass_form__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/* change email */


.change_email_form {
	padding-top: 175px;
	margin-bottom: 300px;
}

.change_email_form__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.change_email_form__form input {
	width: 100%;
}

.change_email_form__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/* my_questions */

.my_questions {
	padding-top: 225px;
	text-align: center;
}

.my_questions__content {
	margin-bottom: 50%;
	text-align: center;
}

.my_questions__title {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 700;
	color: #FFE400;
}

.my_questions__table {
	background-color: #3749e9;
	color: #FFE400;
	font-weight: 600;
	font-size: 16px;
}

.my_questions__table th, tr, td {
	border: 3px solid #FFE400;
}

/* rating */

.rating {
	padding-top: 225px;
	text-align: center;
}

.rating__content {
	margin-bottom: 50%;
	text-align: center;
}

.rating__title {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 700;
	color: #FFE400;
}

.rating__table {
	background-color: #3749e9;
	color: #FFE400;
	font-weight: 600;
	font-size: 16px;
}

.rating__table th, tr, td {
	border: 3px solid #FFE400;
}

/* admin_panel */

.admin_block {
	padding-top: 225px;
	text-align: center;
}

.admin_block__content {
	margin-bottom: 50%;
	text-align: center;
	padding: 50px;
	background-color: #3749e9;
	display: inline-block;
	border: 2px solid #FFE400;
	border-radius: 5px;
	color: #FFE400;
	min-width: 400px;
}

.profile_block__title {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700;
}


.admin_block__btns a {
	color: black;
}

.profile_block__btn__users, .profile_block__btn__moderation {
	display: block;
	margin-bottom: 25px;
	box-shadow: 0px;
	text-align: center;
	width: 100%;
}

/* users */


.users {
	padding-top: 225px;
	text-align: center;
}

.users__content {
	margin-bottom: 50%;
	text-align: center;
}

.users__title {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 700;
	color: #FFE400;
}

.users__table {
	background-color: #3749e9;
	color: #FFE400;
	font-weight: 600;
	font-size: 16px;
}

.users__table th, tr, td {
	border: 3px solid #FFE400;
}

.users__btn {
	width: 70px;
	height: 25px;
	color: black;
	font-size: 16px;
	background: transparent;
}

.users__btn:hover {
	background: transparent;
}

.users__btn a {
	display: block;
	padding: 3px 0px 3px 0px;
}

/* edit_user */

.edit_user {
	padding-top: 175px;
	margin-bottom: 300px;
}

.edit_user__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.edit_user__form input {
	width: 100%;
}

.edit_user__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}


/* moderation */

.moderation {
	padding-top: 225px;
	text-align: center;
}

.moderation__content {
	margin-bottom: 50%;
	text-align: center;
}

.moderation__title {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 700;
	color: #FFE400;
}

.moderation__table {
	background-color: #3749e9;
	color: #FFE400;
	font-weight: 600;
	font-size: 16px;
}

.moderation__table th, tr, td {
	border: 3px solid #FFE400;
}

.moderation__btn {
	width: 70px;
	height: 25px;
	color: black;
	font-size: 16px;
	background: transparent;
}

.moderation__btn:hover {
	background: transparent;
}

.moderation__btn a {
	display: block;
	padding: 3px 0px 3px 0px;
}

.moderation_img {
	color: #FFE400;
}

.moderation_img:hover {
	color: #FFE400;
	text-decoration: underline;
}


/* all_quizes */

.quizes {
	padding-top: 225px;
	text-align: center;
}

.quizes__content {
	margin-bottom: 50%;
	text-align: center;
}

.quizes__title {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 700;
	color: #FFE400;
}

.quizes__table {
	background-color: #3749e9;
	color: #FFE400;
	font-weight: 600;
	font-size: 16px;
}

.quizes__table th, tr, td {
	border: 3px solid #FFE400;
}

.quizes__btn {
	width: 70px;
	height: 25px;
	color: black;
	font-size: 16px;
	background: transparent;
}

.quizes__btn:hover {
	background: transparent;
}

.quizes__btn a {
	display: block;
	padding: 3px 0px 3px 0px;
}

/* edit_user */

.edit_quiz {
	padding-top: 175px;
	margin-bottom: 300px;
}

.edit_quiz__content {
	width: 460px;
	padding: 40px;
	text-align: left;
	margin: 0px auto;
	background-color: #4169E1;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
}

.edit_quiz__form input {
	width: 100%;
}

.edit_quiz__title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/* all_questions */

.questions {
	padding-top: 225px;
	text-align: center;
}

.questions__content {
	margin-bottom: 50%;
	text-align: center;
}

.questions__title {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 700;
	color: #FFE400;
}

.questions__table {
	background-color: #3749e9;
	color: #FFE400;
	font-weight: 600;
	font-size: 16px;
}

.questions__table th, tr, td {
	border: 3px solid #FFE400;
}

.questions__btn {
	width: 70px;
	height: 25px;
	color: black;
	font-size: 16px;
	background: transparent;
}

.questions__btn:hover {
	background: transparent;
}

.questions__btn a {
	display: block;
	padding: 3px 0px 3px 0px;
}

.questions_img {
	color: #FFE400;
}

.questions_img:hover {
	color: #FFE400;
	text-decoration: underline;
}


/* quizzes_block */

.quizzes__block {
	margin-bottom: 50%;
}

.quizzes__block__wrap {
	margin-bottom: 50px;
}

.quizzes__block__title {
	font-size: 36px;
	margin-top: 200px;
	margin-bottom: 100px;
}

.quizzes__block__description {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 50px;
}


/* 404 error */


.not_found {
	padding-top: 300px;
	text-align: center;
}

.not_found__content {
	margin-bottom: 50%;
	text-align: center;
	display: inline-block;
}

.not_found__btn a {
	color: #000000;
}

.not_found__title {
	font-size: 64px;
	color: #ffffff;
	margin-bottom: 200px;
}