<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="icon" href="./static/img/icon.ico" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img class="navbar__logo" src="../static/img/logo.png" width="64px" height="64px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="  navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              {% if current_user.is_authenticated %}
                  <div class="collapse navbar-collapse" id="navbarNav">
              {% else %}
                  <div class="collapse navbar-collapse navbar__margin" id="navbarNav">
              {% endif %}
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/quizzes">КВИЗЫ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/thematic">ТЕМАТИЧЕСКИЕ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logic">ЛОГИКА</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/movie">КИНО</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/rating">РЕЙТИНГ</a>
                  </li>
                </ul>
              </div>
              {% if current_user.is_authenticated %}
                  <div class="user_name__wrapper">
                    <a class="nav-link user_name" href="/profile/{{current_user.name}}">{{ current_user.name }}</a>
                  </div>
              {% else %}
                  <div class="form__btns">
                      <a class="btn btn-primary form__btn" href="/register">Зарегистрироваться</a>
                      <a class="btn btn-success form__btn" href="/login">Войти</a>
                  </div>
              {% endif %}
          </div>
        </nav>
      </header>
    </div>
    <div class="content">
      <main role="main">
        {% block content %}{% endblock %}
      </main>
    </div>
    <div class="footer">
      <footer class="text-center text-lg-start">
        <div class="text-center p-3">
          © 2021 Copyright:
          <a href="https://yandexlyceum.ru/" class="footer__yandex">Яндекс.Лицей</a>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/script.js"></script>
</html>