{% extends "base.html" %}
{% block content %}
	<div class="first_block">
		<div class="first_block__content">
			<div class="container">
				<div class="first_block__title">
					<h1>Онлайн квизы и <br> викторины</h1>
				</div>
				<div class="first_block__under_title">
					<span>Играйте когда удобно!</span>
				</div>
				<div class="first_block__btn">
					<a class="btn btn-danger" href="/" role="button">Играть</a>
				</div>
			</div>
		</div>
	</div>
	<div class="second_block">
		<div class="second_block__content">
			<div class="container">
				<div class="second_block__text">
					<p>
						На сайте вы найдете квизы и викторины с различными типами вопросов: кино, <br> музыка, логика и другие. Квизы отличаются степенью сложности вопросов, <br> количеством и типом вопросов. Можно использовать викторины как тренировку <br> перед посещением офлайн квизов, а также как полноценные квизы, которые можно <br> проходить как одному, так и командой.
					</p>
				</div>
				<div class="second_block__title lightning">
					Новинки
				</div>
				<div class="second_block__quizes">
				  <div class="row">
				  	<div class="second_block__quiz__wrap">
				  	 	<div class="col-sm">
					    	<div class="second_block__quiz__content">
					    		<div class="alert alert-primary" role="alert">
	  								<ul class="second_block__quiz__info">
	  									<li class="second_block__quiz__info__item">		
											“Тематическая № 8”	
	  									</li>
	  									<li class="second_block__quiz__info__item">	
											Вопросы от Реальной мозгокачки	
	  									</li>
	  									<li class="second_block__quiz__info__item">		
											Сложность: 1/3	
	  									</li>
	  									<li class="second_block__quiz__info__item">	
											Кол-во вопросов: 10
	  									</li>
	  									<li class="second_block__quiz__info__item">		
											Время игры: ~5 мин	
	  									</li>
	  									<li class="second_block__quiz__info__item">
											Дата добавления: 23.03.21	
	  									</li>
	  								</ul>
								</div>
					    	</div>
				    	</div>
				    	<div class="second_block__quiz__btn">
	  						<a class="btn btn-danger" href="/" role="button">Играть</a>
	  					</div>
				  	</div>
				    <div class="col-sm">
				      Одна из трёх колонок
				    </div>
				    <div class="col-sm">
				      Одна из трёх колонок
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}