{% extends "base.html" %}

{% block content %}

<div class="main_block">
	<div class="main_block__content">
		<div class="main_block__form">
			<form method="post" enctype="multipart/form-data">
				<div class="main_block__count__questions">
					Вопрос {{ number_of_question }} из {{ count_of_questions }}
				</div>
				<div class="main_block__title">
					{{ question.question }}
				</div>
				<div class="main_block__image">
					<img src="{{ question.image }}" width="475px" height="475px">
				</div>
				<div class="main_block__answers__list">
					{% for answer in answers %}
					<div class="main_block__answer">
						<input type="radio" name="answer" value="{{ answer }}">
						<label>{{ answer }}</label>
					</div>
					{% endfor %}
				</div>
				<div class="main_block__btn">
					<button class="yellow__btn" type="submit">Ответить</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}